{% extends 'base.html' %}


{% block content %}
<div class="jumbotron py-0 bg-light text-dark mb-0 radius-0">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 jumbo-vertical-center">
        <div>
          <h1 class="display-3 mb-2 display-fix">SVCure</h1>
          <span class="text-merriweather">An app for annotating structural variants.</span>
          <div class="mt-3">
            <a href="{{ url_for('annotations.example') }}"
              class="btn btn-dark btn-lg my-2 mr-2 text-oswald btn-wide" style="width: 50%;">
              <span>Demo Example&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </a>
            <a href="{{ url_for('annotations.instructions') }}"
               class="btn btn-outline-dark btn-lg my-2 text-oswald btn-wide" style="width: 50%;">
              <span>Instructions&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </a>
            <a href="{{ url_for('annotations.load_annotations') }}"
               class="btn btn-outline-dark btn-lg my-2 text-oswald btn-wide" style="width: 50%;">
              <span>Load Annotations</span>
            </a>
            <a href="{{ url_for('annotations.loaded_genomes') }}"
               class="btn btn-outline-dark btn-lg my-2 text-oswald btn-wide" style="width: 50%;">
              <span>Loaded Genomes&nbsp;&nbsp;</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
