{% extends 'base.html' %}

{% block content %}


<div class="jumbotron py-0 bg-light text-dark mb-0 radius-0">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 jumbo-vertical-center">
          <div>
            <h1 class="display-3 mb-2 display-fix">Load Annotations</h1>
            <span class="text-merriweather">Files provided here must be present in SVCure/svcure/static/data/public/</span>
            <br>
            <br>
            <div class="mt-3">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row" style="padding: 50px;">
    <div class="column" style="padding-right: 100px;">
      <h2>Single Load</h2>
      <form id="entry_form" method="post">
        <label for="genome">Genome</label>
        <input name="genome" id="genome" placeholder="Format e.g.: NA12878" type="text" required>
        <br>
        <label for="alignment">Alignment - BAM or CRAM</label>
        <input name="alignment" id="alignment" placeholder="Format e.g.: NA12878.cram" type="text" pattern="*.*am$" required>
        <br>
        <label for="alignment_index">Alignment - BAI or CRAI</label>
        <input name="alignment_index" id="alignment_index" placeholder="Format e.g.: NA12878.cram.crai" type="text" pattern="*.*ai$" required>
        <br>
        <label for="reference">Reference Fasta</label>
        <input name="reference" id="reference" placeholder="Format e.g.: hg38.fa" type="text" pattern="^*.*fa*" required>
        <br>
        <label for="reference_build">Reference Build</label>
        <input name="reference_build" id="reference_build" placeholder="Format e.g.: hg38" type="text" required>
        <br>
        <label for="variants">Variants - BED</label>
        <input name="variants" id="variants" placeholder="Format e.g.: NA12878.bed" type="text" pattern="*.bed$" required>
        <br>
        <label for="technology">Technology</label>
        <select id="technology" name="technology">
          <option value="illumina">Illumina</option>
          <option value="nanopore">Nanopore</option>
          <option value="pacbio">PacBio</option>
          <option value="tenx">TenX</option>
        </select>
        <br>
        <br>
        <br>
        <input id="form_save" type="submit" value="Save">
      </form>
    </div>
    <div class="column" style="padding-left: 200px;">
      <h2>Batch Load</h2>
      <p>Input CSV file</p>
      <form id="entry_form_batch" method="post">
        <input type="file" id="batch_annotations" name="batch_annotations" accept=".csv" required>
        <br>
        <br>
        <input id="form_save_batch" name="form_save_batch" type="submit" value="Save">
      </form>
    </div>
  </div>

    


  <br>
  <hr>
  <div class="jumbotron py-0 bg-white text-dark mb-0 radius-0">
      <h3>Files currently in svcure/static/data/public/</h3>
      {% for f in static_files %}
        {{f}}<br>
      {% endfor %}
      <br>
  </div>
  <hr>
  <div class="jumbotron py-0 bg-white text-dark mb-0 radius-0">
      <h3>Information currently loaded into table already:</h3>
      {% for f in staticfiles_table %}
        {{ f['genome'] }}<br>
        {{ f['alignment'] }}<br>
        {{ f['alignment_index'] }}<br>
        {{ f['reference'] }}<br>
        {{ f['reference_build'] }}<br>
        {{ f['variants'] }}<br>
        {{ f['technology'] }}<br>
      {% endfor %}
      <br>
  </div>

{% endblock %}